/* body*/
body{
    background-color: lightslategray;
    color: white;
}
.jumbotron{
    background-image: url(assets/CSS/banner.jpg);
    color: darkorange;
}
.promo{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.price{
    font-weight: bold;
    float: right;
}
.bold{
    font-weight: bold;
}
.card {
    color: black;
}
.card img{
    width: 20rem;
}
/*footer*/
footer img{
    background-color: white;
}